@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/onepage-scroll/onepage-scroll.css';

$s-safe-width: 1200px;
$s-btn-width: 133px;
$s-btn-height: 36px;

/* Navbar */
.primary-header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  .primary-navbar {
    position: relative;
    margin: 40px auto 0;
    width: $s-safe-width;
    text-align: right;
    a {
      display: inline-block;
      margin-left: 50px;
      color: #4C4E5E;
      font-weight: 500;
      font-size: 20px;
      text-decoration: none;
      opacity: .6;
      transition: opacity .3s;
      &.active,
      &:hover {
        opacity: 1;
      }
      &:first-child {
        float: left;
        margin-left: 0;
      }
    }
    .anchor {
      $width: 7px;
      $height: 10px;
      position: absolute;
      z-index: 1;
      left: 0;
      bottom: -(16px + $height);
      width: 0;
      height: 0;
      border: $width solid transparent;
      border-top: $height solid #FD23E1;
      border-bottom-width: $height;
      overflow: hidden;
      transition: transform ease 1s;
    }
  }
}

main section {
  position: relative;
  opacity: 0;
  transition: opacity .3s;
  &.active {
    opacity: 1;
  }
  .section-content {
    position: relative;
    margin: 0 auto;
    width: $s-safe-width;
    height: 100%;
    color: #2A2B33;
  }
  /* Home section */
  &.section-home {
    background: url('../img/title_home.png') no-repeat center/78%;
    &::before {
      $width: 306px;
      $height: 321px;
      content: '';
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      margin-top: -$height/2;
      margin-left: -$width/2;
      width: $width;
      height: $height;
      background: url('../img/about_logo.png') no-repeat center/100%;
    }
  }
  /* About section */
  &.section-about {
    $content-height: 492px;
    .about-info {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 160px;
      margin-top: -$content-height/2;
      width: 545px;
      height: $content-height;
      padding: 120px 0 0 12px;
      background: url('../img/title_about.png') no-repeat top left/350px;
      h2 {
        $gap: 10px;
        margin: 0 0 8px;
        font-size: 30px;
        line-height: 42px;
        letter-spacing: $gap;
        text-indent: -2px;
      }
      h3 {
        margin: 0 0 16px;
        font-size: 16px;
        line-height: 22px;
      }
      p {
        font-size: 16px;
        line-height: 24px;
        opacity: .6;
      }
    }
    .about-bust {
      $width: 350 / 492 * $content-height; // original picture size 350 * 492
      position: absolute;
      z-index: 1;
      top: 50%;
      right: 0;
      margin-top: -$content-height/2;
      width: $width;
      height: $content-height;
    }
    .about-circle,
    .about-triangle,
    .about-rect {
      position: absolute;
      z-index: 2;
      opacity: 0;
      transform: translateY(-60px);
      transition: opacity 1s, transform 1s;
    }
    .about-circle {
      $width: 251px;
      top: 35%;
      left: -$width/2;
      width: $width;
      height: 297px;
      background: url('../img/about_circle.png') no-repeat center/100%;
    }
    .about-triangle {
      $width: 193px;
      bottom: -5%;
      left: 48%;
      width: $width;
      height: 189px;
      background: url('../img/about_triangle.png') no-repeat center/100%;
      transition-delay: .12s;
    }
    .about-rect {
      $width: 225px;
      top: 28%;
      right: -$width/2;
      width: $width;
      height: 270px;
      background: url('../img/about_rect.png') no-repeat center/100%;
      transition-delay: .24s;
    }
    &.active {
      .about-circle,
      .about-triangle,
      .about-rect {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  // move up when scroll down
  &.active + .section-about {
    .about-circle,
    .about-triangle,
    .about-rect {
      transform: translateY(60px);
    }
  }
  /* Ability section */
  &.section-ability {
    $content-height: 400px;
    .section-content {
      width: $s-safe-width - (80 * 2);
    }
    .skill-panel {
      $gap: 60px;
      position: absolute;
      z-index: 1;
      top: 50%;
      margin-top: -$content-height/2;
      width: 33.3%;
      height: $content-height;
      padding: 140px $gap 0;
      box-sizing: border-box;
      background: no-repeat $gap 0/120px;
      transform: translateY(-60px);
      transition: transform 1s;
      &:nth-child(2) {
        transition-delay: .12s;
      }
      &:nth-child(3) {
        transition-delay: .24s;
      }
      &:hover .panel-overlay {
        opacity: 1;
      }
      h3 {
        margin: 0 0 24px;
        font-size: 20px;
        line-height: 28px;
      }
      p {
        font-size: 14px;
        line-height: 20px;
        opacity: .6;
      }
      .panel-overlay {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px 78px;
        vertical-align: middle;
        background: rgba(255,255,255,.9);
        box-shadow: 20px 36px 60px rgba(0,0,0,.1);
        opacity: 0;
        transition: opacity .5s;
        .skill-item {
          margin-bottom: 32px;
          h3 {
            margin: 0 0 25px;
            font-size: 18px;
            line-height: 21px;
          }
        }
        .progress-bar {
          $height: 14px;
          height: $height;
          border: 2px solid #2A2B33;
          border-radius: $height;
          overflow: hidden;
          .progress-inner {
            height: $height;
            background: rgba(42,43,51,.6);
          }
        }
      }
      &.ui-panel {
        background-image: url('../img/ability_ui.png');
      }
      &.animation-panel {
        left: 33.3%;
        background-image: url('../img/ability_animation.png');
      }
      &.operation-panel {
        left: 66.6%;
        background-image: url('../img/ability_operation.png');
      }
    }
    &.active {
      .skill-panel {
        transform: translateY(0);
      }
    }
  }
  // move up when scroll down
  &.active + .section-ability .skill-panel {
    transform: translateY(60px);
  }
  /* Experience section */
  &.section-experience {
    background: url('../img/bg_exp.png') no-repeat center 30%/100%;
    .section-content {
      background: url('../img/title_exp.png') no-repeat left 25%/500px;
      .exp-panel {
        position: relative;
        top: 38%;
        float: left;
        width: 20%;
        padding-right: 30px;
        box-sizing: border-box;
        h2 {
          margin: 0 0 2px;
          font-size: 18px;
          line-height: 22px;
        }
        h3 {
          margin: 0 0 5px;
          font-size: 16px;
          line-height: 20px;
        }
        h4 {
          margin: 0 0 16px;
          font-size: 16px;
          line-height: 20px;
          opacity: .6;
        }
        p {
          font-size: 14px;
          line-height: 18px;
          opacity: .5;
        }
      }
      .exp-triangle-1,
      .exp-rect,
      .exp-triangle-2 {
        position: absolute;
        z-index: 2;
        opacity: 0;
        transform: translateY(-60px);
        transition: opacity 1s, transform 1s;
      }
      .exp-triangle-1 {
        $width: 176px;
        bottom: -8%;
        left: 20%;
        width: $width;
        height: 233px;
        background: url('../img/exp_triangle_1.png') no-repeat center/100%;
      }
      .exp-rect {
        $width: 196px;
        top: 8%;
        left: 40%;
        width: $width;
        height: 250px;
        background: url('../img/exp_rect.png') no-repeat center/100%;
        transition-delay: .12s;
      }
      .exp-triangle-2 {
        $width: 193px;
        top: 18%;
        right: 8%;
        width: $width;
        height: 244px;
        background: url('../img/exp_triangle_2.png') no-repeat center/100%;
        transition-delay: .24s;
      }
    }
    &.active {
      .exp-triangle-1,
      .exp-rect,
      .exp-triangle-2 {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  // move up when scroll down
  &.active + .section-experience {
    .exp-triangle-1,
    .exp-rect,
    .exp-triangle-2 {
      transform: translateY(60px);
    }
  }
  /* Contact section */
  &.section-contact {
    .section-content {
      top: 30%;
      height: 70%;
      text-align: right;
      .contact-column {
        display: inline-block;
        width: 290px;
        text-align: left;
        .contact-item {
          display: block;
          margin-bottom: 32px;
          color: rgba(42,43,51,.8);
          font-size: 16px;
          line-height: 24px;
          text-decoration: none;
          &:hover {
            color: #2A2B33;
          }
        }
      }
      .button {
        margin-right: 30px;
      }
      .contact-triangle {
        position: absolute;
        bottom: 0;
        background: url('../img/contact_bg.png') no-repeat center/100%;
        transform: translateY(60px);
        transition: transform 1s;
        &.triangle-1 {
          left: 10%;
          width: 205px;
          height: 135px;
        }
        &.triangle-2 {
          left: 15%;
          width: 454px;
          height: 300px;
          transition-delay: .12s;
        }
        &.triangle-3 {
          left: 30%;
          width: 326px;
          height: 214px;
          transition-delay: .24s;
        }
        &.triangle-4 {
          left: 45%;
          width: 406px;
          height: 268px;
          transition-delay: .36s;
        }
        &.triangle-5 {
          right: 10%;
          width: 192px;
          height: 126px;
          transition-delay: .48s;
        }
      }
    }
    &.active .contact-triangle {
      transform: translateY(0);
    }
  }
}

/* Buttons */
.button {
  position: relative;
  width: $s-btn-width;
  height: $s-btn-height;
  padding: 0;
  color: #fff;
  font-size: 12px;
  line-height: 1;
  border: 0;
  border-radius: $s-btn-height;
  background-image: linear-gradient(to right, #FE01C6, #F7007F);
  cursor: pointer;
  outline: none;
  &:hover {
    &::after {
      box-shadow: 0 8px 40px rgba(255,0,144,.8);
    }
  }
  &::before {
    content: '';
    position: relative;
    top: 1px;
    margin-right: 12px;
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: bottom;
    background: url('../img/icon_arrow_down.png') no-repeat center/100%;
  }
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 50%;
    margin-left: -40%;
    width: 80%;
    height: 82%;
    border-radius: $s-btn-height;
    box-shadow: 0 8px 40px rgba(255,0,144,.5);
    transition: box-shadow .3s;
  }
  &.fixed-bottom-center {
    position: absolute;
    z-index: 2;
    left: 50%;
    bottom: 10%;
    margin-left: -$s-btn-width/2;
  }
  &.fixed-bottom-right {
    @extend .fixed-bottom-center;
    left: auto;
    margin-left: 0;
    right: 2%;
  }
  &.top::before {
    transform: rotate(180deg);
  }
}

/* Icons */
*[class^=icon-] {
  position: relative;
  top: -2px;
  display: inline-block;
  vertical-align: middle;
  background: no-repeat center/100%;
}
.icon-home {
  $size: 24px;
  padding-right: 20px;
  width: $size;
  height: $size;
  background-image: url('../img/icon_home.png');
  background-size: $size;
}
.icon-sketch,
.icon-ps,
.icon-flinto,
.icon-ae,
.icon-pr,
.icon-painting,
.icon-ai {
  $size: 40px;
  position: static;
  top: 0;
  margin-right: 8px;
  width: $size;
  height: $size;
  vertical-align: bottom;
}
.icon-sketch {
  background-image: url('../img/icon_sketch.png');
}
.icon-ps {
  background-image: url('../img/icon_ps.png');
}
.icon-flinto {
  background-image: url('../img/icon_flinto.png');
}
.icon-ae {
  background-image: url('../img/icon_ae.png');
}
.icon-pr {
  background-image: url('../img/icon_pr.png');
}
.icon-painting {
  background-image: url('../img/icon_painting.png');
}
.icon-ai {
  background-image: url('../img/icon_ai.png');
}
.icon-phone,
.icon-email,
.icon-wechat,
.icon-github,
.icon-dribbble,
.icon-behance {
  $size: 18px;
  margin-right: 10px;
  width: $size;
  height: $size;
}
.icon-phone {
  background-image: url('../img/icon_phone.png');
}
.icon-email {
  background-image: url('../img/icon_email.png');
}
.icon-wechat {
  background-image: url('../img/icon_wechat.png');
}
.icon-github {
  background-image: url('../img/icon_github.png');
}
.icon-dribbble {
  background-image: url('../img/icon_dribbble.png');
}
.icon-behance {
  background-image: url('../img/icon_behance.png');
}
.icon-phone {
  background-image: url('../img/icon_phone.png');
}
